<aside class="main-sidebar" (mouseenter)="onMainSidebarMouseEnter()" (mouseleave)="onMainSidebarMouseLeave()">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <ul class="sidebar-menu">
      <!-- sidebar menu: ALERT -->
      <li class="active treeview">
        <a href="javascript:void(0);" (click)="onSidebarTreeClick($event)">
          <i class="fa fa-share"></i> <span>Menu</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="javascript:void(0);" (click)="onSidebarRouteMenuClick($event)"><i class="fa fa-circle-o"></i> Items</a></li>
          <li>
            <a href="javascript:void(0);" (click)="onSidebarTreeClick($event)"><i class="fa fa-circle-o"></i> Sub Menu
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
            <ul class="treeview-menu">
              <li> <a href="javascript:void(0);" (click)="onSidebarRouteMenuClick($event)"><i class="fa fa-circle-o"></i> A</a></li>
              <li> <a href="javascript:void(0);" (click)="onSidebarRouteMenuClick($event)"><i class="fa fa-circle-o"></i> B</a></li>
              <li> <a href="javascript:void(0);" (click)="onSidebarRouteMenuClick($event)"><i class="fa fa-circle-o"></i> C</a></li>
              <li> <a href="javascript:void(0);" (click)="onSidebarRouteMenuClick($event)"><i class="fa fa-circle-o"></i> D</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>