input,button,select,textarea{outline:none !important;}

.myEnvMid{
    color: #fff;
    line-height: 50px;
    display: inline-block;
}
.myEnvMid p{
    display: none;
}
.my-dropdown-menu{
    position: absolute;
    z-index: 99;
}
.my-dropdown-menu li{
    list-style: none;
}

.dropdown-menu{
    line-height: normal;
}

.weaBtn{
    padding: 0;
    color: #fff;
    background: transparent;
    border: none;    
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
     color: #d2d6de; 
     background-color: transparent;
     border: none;
     border-color: transparent;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: transparent;
    border: none;
}

.sidebar-toggle{
    text-decoration: none;
}

@media (max-width: 767px){
    .main-header .logo {
        display:none;
    }
    .myEnvMid{
        line-height: 16px;
        margin-top: 9px;
    }
    .myEnvMid p{
        display: inline-block;
    }
}
@media (max-width: 991px){
    .navbar-custom-menu>.navbar-nav>li {
        position: relative; 
    }
}