<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">ENV</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>myENV</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top text-center">
    <!-- Sidebar toggle button-->
    <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button" (click)="sidebarToggleClick($event)">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="myEnvMid">
      <p class="noMarginBm">myENV</p>
      <!--<div style="position:relative;">
        <a href="javascript:void(0)" (click)="myDropdownToggle()">Current Location <i id="arrow" class="glyphicon glyphicon-chevron-right"></i></a>
        <ul class="my-dropdown-menu">
          <li><a href="javascript:void(0)">Beijing</a></li>
          <li><a href="javascript:void(0)">Tianjin</a></li>
          <li><a href="javascript:void(0)">Suzhou</a></li>
          <li><a href="javascript:void(0)">Xizhang</a></li>
        </ul>
      </div>-->
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle weaBtn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          Dropdown<span class="caret"></span>
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="javascript:void(0)">Beijing</a></li>
          <li><a href="javascript:void(0)">Tianjin</a></li>
          <li><a href="javascript:void(0)">Suzhou</a></li>
          <li><a href="javascript:void(0)">Xizhang</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu" dropdown>
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu" style="width:260px;" dropdownMenu>
            <li class="header">You have 10 notifications</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and
                    may cause design problems
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users text-red"></i> 5 new members joined
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-user text-red"></i> You changed your username
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>